body{
    height: 100vh; /* Garante que o body cubra toda a tela */
    margin: 0; /* Remove margens externas */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(45deg, grey, white );
}
.login{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5%;
    border-radius: 15px;
    color: aliceblue;
}
.login input{
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}
button{
    background-color: grey;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;
    cursor: pointer;
}
.logo h1 {
    color: black;
    width: 100%;
    text-align: center;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: 60px;
    font-style: normal; 

}
.logo a {
    text-decoration: none;
}
.logo li{
list-style: none;
}